{% load sekizai_tags %}

{% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_ROOT }}js/jquery-1.9.1.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_ROOT }}js/jquery.easing.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_ROOT }}js/jquery.cycle.all.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}
<script type="text/javascript">
$(function() { 
       $('#slider').cycle({
                fx: 'fade',
                speed: 'slow',
                timeout: 3000
       });   
 });
</script>
{% endaddtoblock %}


<!-- begin of #slider -->
<div id="slider">
	{% for photo in photos %}
	<img src="{{ photo.image.url }}" alt="{{ photo.title }}" class="scale-with-grid"/>
	{% endfor %}
</div>
<!-- end of #slider -->
