{% load sekizai_tags %}

{% addtoblock "js" %}<script type="text/javascript" src="http://gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="http://malsup.github.com/jquery.cycle.all.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}
<script type="text/javascript">
$(function() { 
       $('#slider').cycle({
                fx: 'fade',
                speed: 'slow',
                timeout: 5000
       });   
 });
</script>
{% endaddtoblock %}


<!-- begin of #slider -->
<div id="slider">
	{% for photo in photos %}
	<img src="{{ photo.image.url }}" alt="{{ photo.title }}" class="scale-with-grid"/>
	{% endfor %}
</div>
<!-- end of #slider -->
