{% load cms_tags sekizai_tags menu_tags zinnia_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% block meta %}{% endblock %}

<title>Samenwerking Voor Agrarisch Landschap - {{ request.current_page.get_title }}</title>

<meta name="description" content="{% page_attribute meta_description %}"/>
<meta name="keywords" content="{% page_attribute meta_keywords %}"/>

<link href="{{ STATIC_URL }}css/skeleton/base.css"  rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/skeleton/skeleton.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/skeleton/layout.css" rel="stylesheet" type="text/css" />

<link href="{{ STATIC_URL }}css/header.css"  rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/global.css"  rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/footer.css"  rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/content.css"  rel="stylesheet" type="text/css" />
{% render_block "css" %}

</head>

<body>
    {% cms_toolbar %}


    <div id="heading">
        <div id="header_border"></div>
        <div id="header_container" class="container">
            <div id="header_logo" class="four columns"><a href="/"><img src="{{ STATIC_URL }}img/svallogo.png" alt="sval" class="scale-with-grid" /></a></div>

            <div id="header_title_container" class="container twelve columns">
                <div id="header_title" class="twelve columns">
                    {% placeholder "header" or %}
                    {% show_placeholder "header" "home" %}
                    {% endplaceholder %}
                </div>

                <div id="header_menu" class="twelve columns">
                    <ul>{% show_menu %}</ul>
                </div>
            </div>
        </div>
      </div>

    <div id="container"class="container transparent">
      <div id="content" class="twelve columns">
        {% block breadcrumbs %}{% endblock %}
        {% placeholder "main" %}
        {% block content %}{% endblock %}
      </div>
      <div id="sidebar" class="four columns">
          {% placeholder "sidebar" %}{% block sidebar %}{% endblock %}
      </div>
    </div>

      <div id="footer" class="container transparent">
      <div class="column one-third center">
        {% placeholder "footer-1" "home" or %}
          <h4>Op deze website</h4>
          <ul>
              <ul>{% show_menu 0 0 %}</ul>
          </ul>
        {% endplaceholder %}
      </div>
      <div class="column one-third center">
          {% placeholder "footer-2" or %}
          {% show_placeholder "footer-2" "home" %}
          {% endplaceholder %}
      </div>
      <div class="column one-third center">
          {% placeholder "footer-3" or %}
          {% show_placeholder "footer-3" "home" %}
          {% endplaceholder %}
      </div>
    </div>
    <div id="credits" class="container columns sixteen center">
        {% placeholder "credits" or %}
        {% show_placeholder "credits" "home" %}
        {% endplaceholder %}
    </div>
  {% render_block "js" %}
</body>
</html>
