#content ul.breadcrumbs li {
    text-align:center;
    display: inline;
    marging:5px;
}

.entry-header h2 {
    margin-bottom: 0;
}
.entry-body {
    margin-bottom: 30px;
}

div.entry-footer {
    margin-bottom: 10px;
}

.entry-footer p {
    margin-bottom: 0;
}
div.hentry {
    padding-bottom: 1px;
    box-shadow: 0px 5px 5px -5px #555;
}