@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	background-image:url(../img/snippers%20achtergrond.jpg);
}

#content {
	margin:0 auto;
	margin-top:25px; 
	background-color: #fff;
	box-shadow:0 0 5px 10px #fff;
	border-radius:15px;
	padding: 15px;
	text-align:center;
}

#content p,
#content h2,
#content h3,
#content h4,
#content h5,
#content a,
#content ul,
#content form {
	text-align:left;
}
	
div.transparent {
	opacity:0.8;
}
div.center {
	text-align:center;
}